/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #5e35b1; /* Lila Akzentfarbe */
    margin-bottom: 20px;
}

.result-content {
    margin-bottom: 20px;
}

.download-link {
    color: #5e35b1; /* Lila Akzentfarbe */
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}

.download-link:hover {
    text-decoration: underline;
}

.back-link {
    color: #5e35b1; /* Lila Akzentfarbe */
    text-decoration: none;
    font-size: 1em;
}

.back-link:hover {
    text-decoration: underline;
}
